/*STYLESHEET*/
body {
	background-color: black;
	font-family: Avenir, sans-serif;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;
}

#about p {
	font-size: 30px;
	float: right;
	width: 75%;
	text-align: left;
	margin-top: 10%;
}

h1 { text-align: left; font-size: 50px; }

::-webkit-scrollbar { display: none; }

menu { position:absolute; bottom: 0; }

ul { padding: 0; }

li { list-style: none; text-decoration: none; }

#menu li {
	font-size: 20px;
	padding-right: 15px;
	text-align: center;
	display: inline;
	position: relative;
	bottom: 30px;
}

.head {
	position: relative;
	margin-top: -10%;
	margin-left: 30%;
}

.footer {
	font-size: 18px;
	position: fixed;
	bottom: 10%;
}

#social li { text-align: left; padding: 5px 0; }

.link {	color: white; }

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	body {
		background-color: black;
		font-family: Avenir, sans-serif;
		color: white;
		max-width: 768px;
		overflow: hidden;
	}

	#about p {
		font-size: 12px;
		text-align: left;
	}

	h1 { text-align: left; font-size: 36px; }

	menu { position:absolute; }

	li { list-style: none; text-decoration: none; }

	.link {	color: white; }

	a {
		color: white;
		font-weight: bold;
		text-decoration: none;
	}

	#menu li {
		font-size: 12px;
		padding-right: 15px;
		text-align: center;
		display: inline;
		position: relative;
	}

	img { width: 80%; height: 80%;}

	.footer {
		font-size: 12px;
	}

	#social li {
		padding-right: 30px;
		text-align: center;
		display: inline;
		position: relative;
	}
}