/*STYLESHEET*/
body {
	background-color: black;
	font-family: Avenir, sans-serif;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;
}

#about p {
	font-size: 36px;
	float: right;
	width: 75%;
	text-align: left;
	margin-top: 10%;
}

@media phone and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
	p {
		font-size: 12px;
		max-width: 768px;
	}
}

h1 {
	text-align: left;
	font-size: 50px;
}

::-webkit-scrollbar { display: none; }

menu {
	position:absolute;
	bottom: 0;
}

ul { padding: 0; }

li {
	list-style: none;
	text-decoration: none;
}

#menu li {
	font-size: 20px;
	padding-right: 15px;
	text-align: center;
	display: inline;
	position: relative;
	bottom: 30px;
}

.head {
	position: relative;
	margin-top: -10%;
	margin-left: 30%;
}

@media phone and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
	img {
		max-width: 768px;
		max-height: 640px;
	}
}

.footer {
	font-size: 16px;
	position: fixed;
	bottom: 30px;
}

#social li {
	text-align: left;
	padding: 5px 0;
}

.link {	color: white; }

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}